div{
text-align:center;
font-size:50px;
font-family:bold;
color:blue;
}
tr:nth-child(even)
{
background-color:Lightgreen;
font-family:inherit;
font:60px;
}
tr:nth-child(odd)
{
background-color:pink;
font-family:vertical-align;
}
table
{
align:center;
font-family:volume;
font-style:italic;
}
th{
background-color:white;
font-family:verdana;
}
